# [submodule "contrib/greptime-proto"]
# 	path = contrib/greptime-proto
# 	url = https://github.com/GreptimeTeam/greptime-proto.git
# 	branch = main

# # v1.46.x is the last grpc branch which requires support only from c++11.
# [submodule "third-party/grpc"]
# 	path = third-party/grpc
# 	url = https://github.com/grpc/grpc
# 	branch = v1.46.x
